<h1>Edit <%=@team.name%></h1>
<br></br>
<form method="post" action="/teams/<%= @team.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Team Name:</label>
  <input type="text" name="team[name]" value="<%=@team.name%>">
  <br></br>
  <p>Please select 6 characters for your team.</p>
  <h3>Support</h3>
  <%Character.support.each do |char|%>
  <label><%=char.name%></label>
  <input type="checkbox" name="team[character_ids][]" value="<%=char.id%>" <%='checked' if @team.characters.include?(char) %>>
  <% end %>
  <h3>Tank</h3>
  <%Character.tank.each do |char|%>
  <label><%=char.name%></label>
  <input type="checkbox" name="team[character_ids][]" value="<%=char.id%>" <%='checked' if @team.characters.include?(char) %>>
  <% end %>
  <h3>Damage</h3>
  <%Character.damage.each do |char|%>
  <label><%=char.name%></label>
  <input type="checkbox" name="team[character_ids][]" value="<%=char.id%>" <%='checked' if @team.characters.include?(char) %>>
  <% end %>
  <br></br>
  <textarea placeholder="<%=@team.notes%>" rows="4" cols="50" name="team[notes]"></textarea>
  <br></br>
  <input type="submit" value="Update Team">
</form>
