<h2><%= @team.name %></h2>
<p><%= @team.notes %></p>
<% @team.characters.each do |char|%>
<li><%= char.name %></li>
<% end %>
<a href="/teams/<%= @team.id %>/edit">edit</a>
<a href="/teams/<%= @team.id %>/delete">delete</a>
